---
layout: index
title: HOME
---
{% for post in paginator.posts %}
<div class="row">
  <div class="block2 middle posts">
    <p><a href="{{ post.url }}" class="post-title">{{ post.title }}</a></p>
    <p class="post-date">{{ post.date | date_to_string }} - <em>Author: <a href="/" class="author">{{ site.authors }}</a></em></p>
    <p class="post-description hide-mobile">{{ post.content | truncate: 400 }}</p>
    <p class="txt-center"><a href="{{ post.url }}" class="bt-success">更多...</a></p>
    <br />
    <hr />
  </div>
</div>
{% endfor %}
<div class="block2 middle posts">
{% for post in site.posts %}
  <p><a href="{{ post.url }}" class="links">{{ post.date | date_to_string }} >> {{ post.title }}</a></p>
{% endfor %}
</div>




