<!--header bar-->
<header class="mdl-layout__header ">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title mdl-color-text--grey"><a href="/">{{ site.title }}</a></span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation. We hide it in small screens. -->
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="/">HOME</a>
      <a class="mdl-navigation__link" href="/contacts.html">CONTACT</a>
      <a class="mdl-navigation__link" href="/about.html">ABOUT</a>
    </nav>
  </div>
</header>
<!--side bar-->
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title"><a href="/">{{ site.title }}</a></span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/">HOME</a>
    <a class="mdl-navigation__link" href="/contacts.html">CONTACT</a>
    <a class="mdl-navigation__link" href="/about.html">ABOUT</a>
  </nav>
</div>
